.noteTitle {
    color: navy;
}

.saveBtn {
    padding-left: 40px;
    padding-right: 40px;
}

.cancelBtn {
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (max-width: 600px) {
    .detailsTitle {
        font-size: 50px;
    }
    .btn {
        width: 90px;
        height: 150px;
    }
}
