.listTitle {
    color: navy;
}

.createBtn {
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    .listTitle {
        font-size: 50px;
    }
    .btn {
        width: 90px;
        height: 150px;
    }
}
