.brand {
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    font-family: Lobster;
    font-size: 2.5em;
}

@media only screen and (max-width: 600px) {
    .brand {
        font-size: 50px;
    }
    .btn {
        width: 90px;
        height: 30px;
    }
}
